.jumbotron {
	padding-top:100px;
	text-align: center;
	background-image: url(img/bg.jpg);
	background-size: cover;
	height: 1000px;
	color:white;
	margin-top: -120px;
}

.jumbotron .display-4 {
	margin-top: 150px;
	font-size: 100px;
}

.a .dropdown-item {
	background-color: black;
}

p .lead {
	font-size: 45px;
}

p {
	font-size: 20px;
}

hr .my-4 {
	border-color: #D2691E;
	width: 70px;
}